    html {
      background: url(/../img/presentation1.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .choice {
    transform: scale(1.8);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
     z-index: 3;
 }
    .carousel{
      height: 400px;
      width:  100%;
    }
    .ribbon {
   width: 160px;
   position: absolute;
   text-align: center;
   font-size: 12px!important;
   background: #e8c048;
   background: -webkit-gradient(linear, left top, left bottom, from(#e8c048), to(#91752f));
   background: -webkit-linear-gradient(top, #e8c048, #91752f);
   background: -moz-linear-gradient(top, #e8c048, #91752f);
   background: -ms-linear-gradient(top, #e8c048, #91752f);
   background: -o-linear-gradient(top, #e8c048, #91752f);
   background-image: -ms-linear-gradient(top, #e8c048 0%, #91752f 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;
   }
.ribbon h1 {
   font-size: 18px!important;
   color: #755422;
   text-shadow: #c7a052 0 1px 0;
   margin:0px;
   padding: 10px 10px;
   }
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #c29b3a;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #80640e transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
   }
   #clockdiv{
    font-family: sans-serif;
    color: #614d1f;
    text-shadow: #c7a052 0 1px 0;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 25px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #c7a217;
    display: inline-block;
}

#clockdiv div > span{
    padding: 10px;
    border-radius: 3px;
    background: #a27511;
    display: inline-block;
}
#start{
   background: transparent;
    font-size:0;
}
a {
    color: #c7a217;
}