/* Variables */
// $vin-blue: #5bb7db;


/* Styles */

body {
    background: white;
}

.toast-success {
    background-color: #4CAF50 !important;
    color: white; 
}

.toast-error {
    background-color: #F44336 !important;
    color: white;
}