nav {
  background-color: #3E3E4B;
  position: fixed;
  z-index: 2;
}

h1 {
  color: white;
  background-color: #6FBEB6;
  border-radius: 250px;
}

.h1cont {
  opacity: 0.8;
  width: 100%;
  margin: 0;
}

body {
  background-color: #E9E8E7;
}

nav:hover,ul:hover,a:hover {
  color: #6FBEB6;
}

nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #6FBEB6;
}


/* animated elements */
.animateblock {
  padding: 8px 0;
  opacity: 0;
  -webkit-transition: all 0.55s linear;
  -moz-transition: all 0.55s linear;
  transition: all 0.55s linear;
}

.animateblock.animated {
  opacity: 1;
}

.shrink {
  height: 42px;
  line-height: 35px;
}

nav.navbar {
  // Animation
   -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.login {
  min-width: 25%;
  right: 0px;
  background-color: #E9E8E7;
  z-index: 1;
  position: fixed;
  border-radius: 20px;
  border-color: #567E80;
  border-style: solid;
}

.classroomPallete {
  background-color: #6FBEB6;
  color: white;
  min-height: 50%;
  min-width: 400px;
  border-color: #567E80;
  border-style: solid;
  padding: 10px;
}

.notes {
  background-color: white;
  color: #6FBEB6;
  min-height: 39px;
  min-width: 400px;
  margin-top: 0;
  padding-top: 0;
  border-width: 0;
  padding: 5px;
}

.carousel {
  height: 500px;
  width: 90%;
}

.classDropDown {
  min-width: 25%;
  right: 0px;
  background-color: #E9E8E7;
  z-index: 1;
  position: fixed;
  border-radius: 20px;
  border-color: #567E80;
  border-style: solid;
}

.tagLabel {
  border-radius: 20px;
  font-weight: bold;
  color: #EEEEEE;
  background-color: #999999;
  padding: 2px 7px;
  display: inline-block;
  margin: 2px;
}

.bold {
  font-weight: bold;
}

.studentPallete {
  background-color: #6FBEB6;
  color: white;
  min-width: 250px;
  border-color: #567E80;
  border-style: solid;
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}
